@font-face {
  font-family: "iconfont"; /* Project id 2401295 */
  src: url('iconfont.woff2?t=1658816500501') format('woff2'),
       url('iconfont.woff?t=1658816500501') format('woff'),
       url('iconfont.ttf?t=1658816500501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iphone:before {
  content: "\e65a";
}

.icon-shouji-iphone12-zhengmian:before {
  content: "\e659";
}

.icon-weixin:before {
  content: "\e63e";
}

.icon-weixin1:before {
  content: "\e624";
}

.icon-wechat_pay:before {
  content: "\e61b";
}

.icon-vip3:before {
  content: "\e61a";
}

.icon-chongzhi:before {
  content: "\e67a";
}

.icon-dd:before {
  content: "\e738";
}

.icon-tuichu2:before {
  content: "\e613";
}

.icon-down:before {
  content: "\e62c";
}

.icon-VIP4:before {
  content: "\e616";
}

.icon-vip11:before {
  content: "\e608";
}

.icon-VIP:before {
  content: "\e610";
}

.icon-VIP1:before {
  content: "\e611";
}

.icon-vip:before {
  content: "\e612";
}

.icon-vip2:before {
  content: "\e6af";
}

.icon-vip_3:before {
  content: "\e6b0";
}

.icon-vip1:before {
  content: "\e70a";
}

.icon-VIP11:before {
  content: "\e614";
}

.icon-VIP2:before {
  content: "\e84c";
}

.icon-VIP3:before {
  content: "\e619";
}

.icon-jiazaizhong:before {
  content: "\e64f";
}

.icon-jiazai:before {
  content: "\e674";
}

.icon-shezhi:before {
  content: "\e60e";
}

.icon-duoyun:before {
  content: "\e6ae";
}

.icon-leizhenyu:before {
  content: "\e60a";
}

.icon-qingtian:before {
  content: "\e63f";
}

.icon-yintian:before {
  content: "\e642";
}

.icon-bingbao:before {
  content: "\e623";
}

.icon-tubiaozhizuomoban:before {
  content: "\e60d";
}

.icon-xue:before {
  content: "\e630";
}

.icon-icon-test:before {
  content: "\e600";
}

.icon-diannaojiaobiao:before {
  content: "\e606";
}

.icon-erweimajiaobiao:before {
  content: "\e607";
}

.icon-jiaoyi:before {
  content: "\e60b";
}

.icon-shuju:before {
  content: "\e62b";
}

.icon-shuju1:before {
  content: "\e679";
}

.icon-Excel:before {
  content: "\e601";
}

.icon-erweimajiaobiao1:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\e618";
}

.icon-shouye:before {
  content: "\e633";
}

.icon-zhifu:before {
  content: "\e626";
}

.icon-shouye1:before {
  content: "\e6bb";
}

.icon-xueyuan1:before {
  content: "\e6d9";
}

.icon-chenggong:before {
  content: "\e6ca";
}

.icon-shouye2:before {
  content: "\e675";
}

.icon-saomachenggong:before {
  content: "\e631";
}

.icon-excel:before {
  content: "\e603";
}

.icon-shuju2:before {
  content: "\e604";
}

.icon-kaoqin1:before {
  content: "\e6c0";
}

.icon-kaoqin2:before {
  content: "\e60c";
}

.icon-kaoqin3:before {
  content: "\e634";
}

.icon-excel1:before {
  content: "\e617";
}

.icon-LoadingIndicator:before {
  content: "\e605";
}

.icon-kaoqin-jiabanguanli:before {
  content: "\e6ac";
}

.icon-wode1:before {
  content: "\e7a9";
}

.icon-shouqi1:before {
  content: "\e759";
}

.icon-fold-right:before {
  content: "\e609";
}

.icon-tupian:before {
  content: "\e615";
}

.icon-shangpinguanli:before {
  content: "\e63b";
}

.icon-yonghu:before {
  content: "\e643";
}

.icon-kaoqin:before {
  content: "\e60f";
}

.icon-xueyuan:before {
  content: "\e649";
}

